@import "tailwindcss";

:root {
  --font-public-sans: "Public Sans";
  --color-primary: oklch(44.8% 0.119 151.328); /* green 700 */
  --color-primary-dark: oklch(39.3% 0.095 152.535); /* green 900 */
  --colorapp-gray-100: #818179;
  --color-app-gray-200: #363636;
  --color-app-gray-300: #2a2a2a;
  --color-app-gray-400: #212121;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-app-gray-100: var(--color-app-gray-100);
  --color-app-gray-200: var(--color-app-gray-200);
  --color-app-gray-300: var(--color-app-gray-300);
  --color-app-gray-400: var(--color-app-gray-400);
  --font-sans: var(--font-public-sans, sans-serif);
}

html {
  @apply bg-app-gray-300 scroll-smooth leading-none text-sm;
}

body {
  @apply bg-app-gray-300 text-gray-300 font-sans antialiased;
  @apply min-h-screen min-w-full overflow-x-hidden;
}

@utility scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
